{
  "app": {
    "guid": "a838af27-60fb-44ef-a2df-69385cf37d2a"
  },
  "odata": {
    "exposeEntities": true,
    "exposeMetadata": false,
    "metadataSecurity": "Administrators",
    "entitiesSecurity": null,
    "expandCompositeKeys": false,
    "addDisplayFields": false
  },
  "security": {
    "token": "YTgzOGFmMjctNjBmYi00NGVmLWEyZGYtNjkzODVjZjM3ZDJh",
    "tokenExpiration": 3600,
    "tokenRecaptcha": null
  },
  "auth": {
    "type": "Token",
    "defaultDomain": null,
    "hostname": null,
    "autoSignUp": true,
    "socialLogin": false,
    "mutual": false,
    "socialNetworks": [],
    "autoSignUpSocial": false,
    "applicationProperties": {},
    "templateProperties": {
      "appid": "io.cronapp.apps.projetoproducao",
      "backend": "true",
      "social": "false",
      "theme": "Material",
      "authentication": "Token",
      "mutual": "false",
      "frontend": "true"
    }
  },
  "fixedTimeZone": true,
  "timeZone": "UTC",
  "timeZoneOffset": 0
}